<main class="index">
  <header class="bg-image d-flex">
    <div class="text-center m-auto p-5">
      <h1 class="mb-1 display-1">Johanna De La Torre</h1>
      <h3 class="mb-5">
        <em>Nails</em>
      </h3>
      <a class="btn bg-color-button btn-lg" href="/catalogo">
        Ver catalogo
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>